<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    {% include '_menu.html' %}
    <h1>{{ title }}</h1>
<a>Добро пожаловать на наш швейный сайт!</a>
 <br /> <br />
<a>Откройте для себя искусство пошива одежды на заказ в нашем универсальном центре по пошиву одежды. </a>
     <br />
<a>Независимо от того, являетесь ли вы энтузиастом моды, любителем DIY или профессиональным портным, наш веб-сайт наполнен ценными ресурсами, которые вдохновят вас и помогут вам в вашем пути к шитью.</a>
 <br /> <br />
<a>Просмотрите наш тщательно подобранный список компаний, специализирующихся на пошиве моделей одежды. </a>
    <br />
   <a>От известных домов моды до местных ателье — мы представляем широкий спектр экспертов
    по пошиву одежды, которые привносят в свою работу изысканное мастерство. </a>
<br />
    <a>Изучите их уникальные
    стили, методы и услуги и найдите идеальное сочетание для вашего следующего проекта по производству одежды.</a>
    <br /> <br />
    <a>Хотите создать свою собственную одежду?</a>
    <br />
    <a>Мы предлагаем вам обширную коллекцию журналов с выкройками, подходящими для всех уровней навыков.</a>
    <br />
    <a>От классического дизайна до авангардных творений —
        вы найдете массу вдохновения для своих творческих начинаний.</a>
    <br />
    <a> Наши содержательные обзоры и рекомендации помогут вам сделать осознанный выбор и быть
    в курсе последних тенденций в мире шитья.</a>
    <br />
    <br />
  <a>На нашем Портняжном сайте мы стремимся быть вашим источником информации обо всем, что связано с искусством шитья.</a>
    <br /><br />
<a>Начните исследовать шить сейчас!</a>


</body>
</html>